﻿<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
			   <li class="breadcrumb-item"><a href="/">Your Music Library</a></li>
			  <li class="breadcrumb-item active">Add New Artist</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			  <h1>Add New Artist</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm("SaveNewArtist", "home", FormMethod.Post)) {
				<div style='margin-bottom:10px;'>
					@Html.Label("Musit Artist Name")
					@Html.TextBox("ArtistName")
				</div>
				<input type="submit" class="btn btn-secondary" value="Create" />
			}
		</div>
	</div>
</div>