﻿@using MusicDirectory.ViewModels
@model GenreListViewModel

<select name="Genre">
    <option value="0">Please Select Genre</option>
	@foreach(GenreViewModel item in Model.GenreList) {
                                <option value="@item.genreID">@item.GenreText</option>
                            }
</select>
