﻿@using MusicDirectory.ViewModels
@model CreateArtistViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/">Your Music Library</a></li>
              <li class="breadcrumb-item active">Add New Artist</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
              <h1>Add New Artist</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
			@using (Html.BeginForm("SaveNewArtist", "artist", FormMethod.Post)) {

            <table>
                <tr>
                    <td>@Html.Label("Music Artist Name")</td>
					<td>@Html.TextBoxFor(m => m.ArtistName)</td>
					<td>@Html.ValidationMessageFor(m => m.ArtistName)</td>
				</tr>
				<tr>
				    <td>@Html.Label("Genre")</td>
					<td>@Html.DropDownListFor(m => m.Genre, new SelectList(Model.GenreList,"genreID","GenreText"),"Please Select Genre")               
					</td>
					<td>@Html.ValidationMessageFor(m => m.Genre)</td>
				</tr>
			</table>
            <input type="submit" class="btn btn-secondary" value="Create" />
            }
        </div>
    </div>
</div>