﻿<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/genre">Genre List</a></li>
            <li class="breadcrumb-item active">Edit Genre</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
              <h1>Edit Genre</h1>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("EditCurrentGenre", "genre", FormMethod.Post)) {
                <div style='margin-bottom:10px;'>
                    @Html.Label("Genre")
                    @Html.TextBox("GenreText")
                    @Html.Hidden("genreID")
                </div>
                <input type="submit" class="btn btn-default" value="Save" />
            }
        </div>
    </div>