﻿@using MusicDirectory.ViewModels
@model GenreListViewModel

<div class="row">
    <div class="col-md-12">
		<h3>Your Saved Genres</h3>      
	</div>
</div>
<div class="row">
    <div class="col-md-12">
		<a href="/genre/New">
            <button type="button" class="btn btn-success">Add New Genre</button>
		</a>
	</div>
</div>
<div class="row" style='margin-top:20px;'>
    <div class="col-md-12">
		@foreach(GenreViewModel item in Model.GenreList) {
		  <div class="row">
		    <div class="col-md-12">
		        <div style='font-size:16px; color:#c9c9c9'><strong style="margin-right:5px;">@item.GenreText</strong><a href="/genre/edit/@item.genreID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
		    </div>
		</div>


        foreach(var genreArtist in item.Artists) {
           <div class="artistName">@genreArtist.ArtistName</div>
         }

		
		}

	</div>
</div>

