﻿ <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/genre">Genres</a></li>
              <li class="breadcrumb-item active">Add New Music Genre</li>
            </ol>
        </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="page-header">
              <h1>Add New Music Genre</h1>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreateNewGenre", "genre", FormMethod.Post)) {
                <div style='margin-bottom:10px;'>
                <table>
                    <tr>
                        <td>@Html.Label("Genre Text")</td>
                        <td>@Html.TextBox("GenreText")</td>
                    </tr>
                </table>
                </div>
                <input type="submit" class="btn btn-secondary" value="Create" />
            }
        </div>
    </div>
