﻿@using MusicDirectory.ViewModels
@model MusicArtistListViewModel

	<div class="row">
        <div class="col-md-12">
            @foreach(MusicArtistViewModel item in Model.MusicArtists) {
                <div>
                    <a href="/artist/Edit/@item.ArtistID">
                        <i class="fa fa-pencil-square" aria-hidden="true" style='float: left; margin-top: 6px; margin-right: 10px;'></i>
                    </a>
                    <h3>@item.ArtistName</h3>
				    <form action="/artist/Delete" method="post">                
                        <input id="ArtistID" name="ArtistID" type="hidden" value="@item.ArtistID">
                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </form>
                </div>

		        int counter = 0;
                foreach(var album in item.Albums) {
			        if (counter == 0)
			        {
			           @Html.Raw("<div class=\"row\">")
			        } else if (counter > 0 && counter % 4 == 0 )
			        {
			           @Html.Raw("</div><div class=\"row\">")
			        }
		            <div class="col-md-3">
			            <a href="/album/edit/@album.albumID">
                            <div class="thumbnail">
                                @if(album.AlbumArtwork == null) {
                                    @Html.Raw("<div class=\"emptyImage\" style='background:url(/Images/emptyImage.png) no-repeat center'></div>")
                                } else {
                                    <div class="ArtworkPlaceholder" style='background:url(/MusicFiles/@item.FolderName/@album.AlbumFolderName/@album.AlbumArtwork) no-repeat center'></div>
                                }
                                <div class='albumName'>@album.AlbumName</div>
                            </div>
			            </a>
                        
		            </div>
                     

		             counter++;
                 }
                 @Html.Raw("</div>")
            }
		</div>
	</div>
