﻿@using MusicDirectory.ViewModels
@model AlbumViewModel

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Music Artists</a></li>
            <li class="breadcrumb-item active">View/Edit Album</li>
        </ol>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="page-header">
              <h1>View/Edit New Album</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
			    <div class="col-md-12" style='margin-bottom:20px;'>
				    <div style='margin-bottom:5px;'><strong>Current Album Artwork</strong></div>
                     @if(Model.AlbumArtwork == null) {
                         <div class="emptyImage" style='background:url(/Images/emptyImage.png) no-repeat center'></div>
                     } else {
                         <div class="ArtworkPlaceholder" style='background:url(/MusicFiles/@Model.Artist.FolderName/@Model.AlbumFolderName/@Model.AlbumArtwork) no-repeat center'></div>
                     }
			    </div>
		    </div>
		
            @using (Html.BeginForm("EditAlbum", "album", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                <div style='margin-bottom:10px;'>
                <table>
                    <tr>
                        <td>@Html.Label("Album Name")</td>
                        <td>@Html.TextBoxFor(m => m.AlbumName)</td>
                        <td>@Html.ValidationMessageFor(m => m.AlbumName)</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Album Art")</td>
                        <td><input type='file' name="AlbumArtwork" /></td>
                        <td></td>
                    </tr>
                </table>
                    


                </div>
                <input type="submit" class="btn btn-secondary" value="Save" />
            }
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Track List</h1>
        </div>
    </div>
</div>

<div class="row" style='margin-bottom:15px;'>
    <div class="col-md-12">
        @using (Html.BeginForm("AddSong", "album", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                <div style='margin-bottom:10px;'>
	                <table>
	                    <tr>
	                        <td>@Html.Label("Upload Track")</td>
	                        <td><input type='file' name="SongName" /></td>
	                    </tr>
	                </table>
			        @Html.HiddenFor(m => m.AlbumID)
                </div>
                <input type="submit" class="btn btn-secondary" value="Upload" />
            }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<table>
        @foreach(MusicTrackViewModel item in Model.Tracks) {
            <tr>
                <td style='padding:2px 5px 2px 0px'><a href='/album/play/?trackID=@item.musicFileID&artistID=@Model.Artist.ArtistID&albumID=@Model.AlbumID'><i class="fa fa-play" aria-hidden="true"></i></a></td>
                <td>@item.SongName</td>
            </tr>	
        }
        </table>
    </div>
</div>                   
