﻿@using MusicDirectory.ViewModels
@model AlbumViewModel

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
			   <li class="breadcrumb-item"><a href="/">Your Music Library</a></li>
			  <li class="breadcrumb-item active">Add New Album</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			  <h1>Add New Album</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm("CreateNewAlbum", "album", FormMethod.Post, new { enctype = "multipart/form-data" })) {
				<div style='margin-bottom:10px;'>
				<table>
					<tr>
						<td>@Html.Label("Album Name")</td>
						<td>@Html.TextBoxFor(m => m.AlbumName)</td>
						<td>@Html.ValidationMessageFor(m => m.AlbumName)</td>
					</tr>
					<tr>
						<td>@Html.Label("Music Artist")</td>
						<td>@Html.DropDownListFor(m => m.ArtistID, new SelectList(Model.Artists,"ArtistID","ArtistName"),"Please Select Artist")</td>
						<td>@Html.ValidationMessageFor(m => m.ArtistID)</td>
					</tr>
					<tr>
						<td>@Html.Label("Album Art")</td>
						<td><input type='file' name="AlbumArtwork" /></td>
						<td></td>
					</tr>
				</table>
					


				</div>
				<input type="submit" class="btn btn-secondary" value="Create" />
			}
		</div>
	</div>
</div>