﻿<audio controls>
    <source src="@Url.Action("TrackFile", "Album", new {trackID=@ViewBag.track, artistID=@ViewBag.artist, albumID=@ViewBag.album})" type="audio/mp3" />
    <p>Your browser does not support HTML 5 audio element</p>
</audio>
