﻿.emptyImage {
    width: 300px;
    height: 300px;
}

.ArtworkPlaceholder {
    width: 300px;
    height: 300px;
    background-size: cover !important;
}

.playButton {
    float:left;
    width: 12px;
    padding: 4px 0px;
}

.songName {
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}