﻿.ArtistName {

}

.emptyImage {
    width:100%;
    height:300px;
}

.ArtworkPlaceholder {
    width: 100%;
    height: 300px;
    background-size: cover !important;
}
.albumName {
    text-align:center;
    padding:5px 0px;
}