﻿body {
}

#MainMenu {
    background: #193c82;
    float: left;
    top: 50px;
    z-index: 9;
    display:none;
    position:absolute;
}

#MainMenu .mainLink {
        color:white;
        padding:10px;
}