﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/Scripts/js/Globals.js'></script>
		<link rel="stylesheet" href="@ViewBag.Css">
    <link rel="stylesheet" href="/Scripts/css/MainStyles.css" />	
	

		
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style='font-size:24px;'>
                <div style='margin: 10px 0px;'>
                    <a href='javascript:void(0);' onclick='Globals.ToggleMenu()'><i class="fa fa-bars" aria-hidden="true"></i></a> Your Music Library
				</div>
            </div>
        </div>
    
	<div id="MainMenu">
		<a href="/">
            <div class='mainLink'>
                Artist
		    </div>
		</a>	
        <a href="/genre">
            <div class='mainLink'>
                Genres
            </div>
		</a>
	</div>
			@RenderBody()

	</div>
</body>
</html>
